<h1 class="text-center">MissMoo Program</h1>
<div class="container">
  <div class="jumbotron">
    <h2>Total sales: <%= @sales.sum(:amount) %><br></h2>
    <h2>Total purchases: <%= @purchases.sum(:amount) %><br></h2>
    <h2>Profit: <%= @profit %></h2><br>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to 'Sign in', new_user_session_path, class: "btn btn-block btn-dark" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-block btn-danger" %>
      </div>
    </div>
  </div>
</div>
