<div class="container">
  <div class="row">
    <h1>Purchases</h1>
    <%= link_to 'Home', root_path, class: "btn btn-lg btn-dark" %>
    <%= link_to 'Sales', sales_path, class: "btn btn-lg btn-secondary" %>
  </div>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Amount
      </th>
      <th>
        Description
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="purchases">
    <%= render @purchases %>
  </tbody>
</table>
<div class="">
  <h2>Total purchases: <%= @purchases.sum(:amount) %></h2>
</div>

<%= link_to 'Create a new purchase', new_purchase_path, class: "btn btn-lg btn-info"%>
