<div class='container'>
  <div class='row'>
    <div class='col-xs-4'>
      <h1><%= t('index.title.purchases') %></h1>
    </div>
    <div class='col-xs-8'>
      <%= link_to t('index.create_button.purchases'), new_purchase_path, class: 'btn btn-info create-btn' %>
    </div>
  </div>
</div>
<table class='table table-hover table-bordered'>
  <thead>
    <tr>
      <th><%= t('index.table.id') %></th>
      <th><%= t('index.table.date') %></th>
      <th><%= t('index.table.vendor') %></th>
      <th><%= t('index.table.amount') %></th>
      <th><%= t('index.table.description') %></th>
    </tr>
  </thead>
  <tbody id='purchases'>
    <%= render @purchases %>
  </tbody>
</table>
<div class='container'>
  <h2><%= t('index.totals.purchases') %> <%= number_to_currency @purchases.sum(:amount) %></h2>
</div>
