<div class="container">
  <div class="jumbotron">
    <h2>Vendor: <%= @purchase.vendor %></h2>
    <h2>Description: <%= @purchase.description %></h2>
    <div class="container">
      <% @purchase.ingredients.each do |ingredient| %>
        <ul>
          <li><%= ingredient.name %></li>
          <li><%= ingredient.amount %> <%= ingredient.amount_type %></li>
        </ul>
      <% end %>
    </div>
    <h2>Total: <%= @purchase.total %></h2><br>

    <div class="col-md-12 text-center">
      <%= link_to 'Back', purchases_path, class: "btn btn-lg btn-dark" %> |
      <%= link_to 'Create new purchase', new_purchase_path, class: "btn btn-lg btn-secondary" %> |
      <%= link_to 'Edit', edit_purchase_path(@purchase), class: "btn btn-lg btn-dark" %>
  </div>
  </div>
</div>
