<div class='alert-danger'>
  <% if @vendor.errors.any? %>
  <h2>The following errors prevented the record from being created</h2>
    <% @vendor.errors.full_messages.each do |msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>
  <% end %>
</div>

<%= simple_form_for @vendor do |f| %>
  <%= f.input :name, class: 'col-sm-2 control-label' %>
  <%= f.input :phone_number, class: 'col-sm-2 control-label' %>
  <%= f.input :obs, class: 'col-sm-2 control-label' %>
  <%= f.button :submit, class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to 'Back', vendors_path, class: 'btn btn-block btn-info' %>
