<% @sales.each do |sale| %>
  <% if sale.product_ids.include? @product.id  %>
      <tr>
        <td><%= sale.id %></td>
        <td><%= sale.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= sale.client %></td>
        <td><%= sale.amount %></td>
        <td><%= sale.description %></td>
      </tr>
  <% end %>
<% end %>
