<%= render 'shared/errors', object: @product %>

<%= form_for @product, html: { role: 'form', id: 'product_form' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div id="ingredients" class="form-group">
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', f: ingredient %>
    <% end %>
    <div class="container">
      <%= link_to_add_association 'Add ingredient', f, :ingredients, class: "btn btn-block btn-primary" %><br>
    </div>

    <div class="container">
      <%= f.submit 'Save', class: "btn btn-success btn-block" %><br>
    </div>

    <div class="container">
        <%= link_to 'Back', products_path, class: "btn btn-block btn-info" %><br>
    </div>
  </div>
<% end %>
