<%= render 'shared/errors', object: @product %>

<%= simple_form_for @product, html: { role: 'form', id: 'product_form' } do |f| %>
  <%= f.input :name, label: I18n.t('simple_form.labels.name'), class: "col-sm-2 control-label" %>
  <%= f.input :price, label: I18n.t('simple_form.labels.price') %>
    <%= f.simple_fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', f: ingredient %>
    <% end %>


<div id="add_ingredients">
  <%= link_to_add_association (t 'simple_form.labels.add_ingredient'), f, :ingredients, class: "btn btn-block btn-primary" %><br>
  <%= f.button :submit, label: I18n.t('simple_form.labels.create_product'), class: "btn btn-success btn-block" %><br>
  <%= link_to (t 'shared.back'), products_path, class: "btn btn-block btn-info" %><br>
<% end %>
</div>
