<tr>
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= product.created_at.strftime("%d/%m/%Y") %></td>
  <td><%= link_to 'Sales', products_sale_path(product), class: 'btn btn-primary' %></td>
  <div class="container">
  </div>
  <td><%= link_to 'Show', product_path(product) %></td>
  <td >
    <%= link_to 'Edit', edit_product_path(product), id: "edit_#{product.id}", class: "fa fa-pencil i fa-2x index_icons" %>
  </td>
  <td >
    <%= link_to 'Delete', product_path(product), method: :delete, id: "delete_product_#{product.id}_from_index", class: "fa fa-trash-o fa-2x index_icons", data: { confirm: "Are you sure?"} %>
  </td>
</tr>
