<div class="container">
  <div class="jumbotron">
    <h2>Name: <%= @product.name %></h2><br>
    <h2>Date: <%= @product.created_at.strftime("%d/%m/%Y") %></h2><br>
    <h2>Ingredients:</h2>
    <div class="container">
      <% @product.ingredients.each do |ingredient| %>
        <ul>
          <li><%= ingredient.name %></li>
          <li><%= ingredient.amount %> <%= ingredient.amount_type %></li>
        </ul>
      <% end %>
    </div>
    <div class="col-md-12 text-center">
      <%= link_to 'Back', products_path, class: "btn btn-lg btn-dark" %> |
      <%= link_to 'Create product', new_product_path, class: "btn btn-lg btn-secondary" %> |
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-lg btn-dark" %>
    </div>
  </div>
</div>
