<%= render 'shared/errors', object: @sale %>
<% product_array = Product.products_by(current_user) %>

<div class="container-fluid">
<%= simple_form_for @sale do |f| %>
  <%= f.input :client, collection: Client.clients_by(current_user).collect(&:name) %>
  <div class="row">
    <% Product.all.each do |product| %>
      <%= link_to "#{product.name} #{number_to_currency product.price} ", product_search_path(product),
                                         remote: true, class: "btn btn-info product-buttons product-#{product.id}" %>
    <% end %>
  </div>
  <div class="products">
    <%= f.hidden_field :product_ids, value: false, class: 'sale-products-id' %>
  </div>
  <%= f.label :amount %>
  <%= f.number_field :amount, id: 'sale-amount' %>
  <%= f.input :description %>
  <%= f.button :submit, class: 'btn btn-block btn-primary links' %>
<% end %>
</div>

<%= link_to 'Back', sales_path, class: "btn btn-block btn-info" %>
<%= render partial: 'jscript', formats: [:js], locals: { product_array: product_array } %>
