<%= render 'shared/errors', object: @sale %>
<% product_array = Product.products_by(current_user) %>
<% client_array = Client.clients_by(current_user) %>

<div class='container-fluid'>
<%= simple_form_for @sale do |f| %>
  <% if client_array.present? %>
    <%= f.input :client, label: I18n.t('simple_form.labels.client'), collection: Client.clients_by(current_user).collect(&:name) %>
  <% else %>
    <%= link_to 'Add client', new_client_path, class: 'btn btn-info create-btn' %>
  <% end %>

  <% if product_array.present? %>
    <div class='row'>
      <% product_array.each do |product| %>
        <%= link_to "#{product.name} #{number_to_currency product.price}", product_path(product),
                                           remote: true, class: "btn btn-info product-buttons product-#{product.id}" %>
      <% end %>
    </div>
  <% else %>
    <h3 class='alert-warning'>Sales cannot be created without a product.</h3>
    <%= link_to (t 'index.create_button.product'), new_product_path, class: 'btn btn-info create-btn' %>
  <% end %>
  <div class='products'>
    <%= f.hidden_field :product_ids, value: false, class: 'sale-products-id' %>
  </div>
  <%= f.label t 'simple_form.labels.amount' %>
  <%= f.number_field :amount, id: 'sale-amount' %>
  <%= f.input :description, label: I18n.t('simple_form.labels.description') %>
  <%= f.button :submit, class: 'btn btn-block btn-primary' %>
<% end %>
</div>
<%= render partial: 'jscript', formats: [:js], locals: { product_array: product_array } %>
<div class='container'>
  <%= link_to (t 'shared.back'), sales_path, class: 'btn btn-block btn-info' %>
</div>
