<%= render 'shared/errors', object: @sale %>
<% product_array = Product.products_by(current_user) %>

<div class='container-fluid'>
  <%= simple_form_for @sale do |f| %>
    <% if @clients.present? %>
      <%= f.input :client, collection: Client.clients_by(current_user).collect(&:name) %>
    <% else %>
      <%= link_to 'Add client', new_client_path, class: 'btn btn-info create-btn' %>
    <% end %>

  <div class="container">
    <% if @products.present? %>
      <div class='row'>
        <% @products.each do |product| %>
          <%= link_to "#{product.name} #{number_to_currency product.price}", product_path(product),
                                             remote: true, class: "btn btn-info product-buttons product-#{product.id}" %>
        <% end %>
      </div>
    <% else %>
      <h3 class='alert-warning'>Sales cannot be created without a product.</h3>
      <%= link_to 'Create product', new_product_path, class: 'btn btn-info create-btn' %>
    <% end %>
  </div>
  <div class='products'>
    <%= f.hidden_field :product_ids, value: false, class: 'sale-products-id' %>
  </div>
    <%= f.input :date_of_sale %>
    <%= f.label :amount %>
    <%= f.number_field :amount, id: 'sale-amount' %>
    <%= f.input :description %>
    <%= f.button :submit, class: 'btn btn-block btn-primary' %>
  <% end %>
</div>
<%= render partial: 'jscript', formats: [:js], locals: { product_array: product_array } %>
<div class='container'>
  <%= link_to 'Back', sales_path, class: 'btn btn-block btn-info' %>
</div>
