<div class="container">
  <div class="row">
    <h1>Sales</h1>
    <%= link_to 'Home', root_path, class: "btn btn-lg btn-secondary" %>
    <%= link_to 'Purchases', purchases_path, class: "btn btn-lg btn-dark" %>

  </div>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Amount
      </th>
      <th>
        Description
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="sales">
    <%= render @sales %>
  </tbody>
</table>
<div class="">
  <h2>Total sales: <%= @sales.sum(:amount) %></h2>
</div>
<%= link_to 'Create a new sale', new_sale_path, class: "btn btn-lg btn-info"%>
