<!DOCTYPE html>
<html>
<head>
  <title>SME Organizer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if user_signed_in? %>
    <ul class="nav nav-tabs justify-content-end">
      <li class="nav-item">
        <%= active_link_to 'Home', root_path, active: :exclusive, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Sales', sales_path, active: :exclusive, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Purchases', purchases_path, active: :exclusive, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Clients', clients_path, active: :exclusive, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Products', products_path, active: :exclusive, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= active_link_to "Logout", destroy_user_session_path, active: :exclusive, method: :delete, class: 'nav-link'  %>
      </li>
    </ul>
  <% end %>

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>
</body>
</html>
